#calendar {
    margin: 0 auto;
    border: 1px solid #000;
    width: 252px;
    position: relative;
    overflow: hidden;
}
#date {
    margin: 10px;
}
.buttons {
    position: absolute;
    top: 8px;
    right: 10px;
}
.button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.day {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 2px;
    padding: 0 1px;
    border: 1px solid transparent;
    margin-right: 11px;
    text-align: center;
    cursor: pointer;
    transition: background .1s, color .1s;
}
.day:hover {
    border: 1px solid #000!important;
    color: #fff;
    background: #000!important;
}
.day.today {
    border: 1px solid #000!important;
    color: #fff;
    background: #000!important;
}
.day.other {
    visibility: hidden;
}
.daysName {
    background: #ddd;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    margin-right: -9px;
}
#days {
    margin-right: -9px;
}
.daysName div {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0 1px;
    margin: 3px;
    margin-right: 8px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}